<div class="row room">

    <video-box class="col-md-4" video="video"></video-box>

    <div class='col-md-8'>

        <div class="row" video="video" ng-hide='clicked'>
            <accordion close-others="oneAtATime">
                <accordion-group heading="{{comment.content}}" ng-repeat="comment in comments" class="accordion-toggle" ng-click="getReplies(comment); toggleOpen()">
                    <comments user = 'user' comment='comment' children='children'></comments>
                </accordion-group>
            </accordion>
        </div>

        <button class="btn btn-info" ng-show= "isLoggedIn" ng-click="showForm()" ng-hide="clicked">
        +
        </button>

        <form class='row' ng-show="clicked" ng-submit="addingComment(comment)">
            <button class="btn btn-default" ng-click = "hideForm()">&larr;</button>
            <div class="form-group">
                <input type="text" class="form-control" id="newCommentText" placeholder="Ask a question" ng-model="comment.content">
            </div>
            <div class="form-group">
                <tags-input ng-model='comment.tags'></tags-input>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

</div>