#home {
  fullstack-logo {
    padding-top: 30px;
    padding-bottom: 80px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}
.home-cont {
  padding-bottom: 5%;
}
.jumbotron .container {
  text-align: center;
  // color: $accent;
}
.jumbotron {
  background: $layer;
  margin-top: -20px;
}
.quokka {
  // background: url("https://files.slack.com/files-pri/T024FPYBQ-F076GHNCV/quokka.png") no-repeat;
  img {
    float: left;
    width: 20%;
    // transform-origin: left;
    position: fixed;
    bottom: 0%;
    right: 3%;
    transform: translateY(90%);
    transition: all 1s ease-in-out;
    &:hover {
      -webkit-transform: translateY(40%);
      -moz-transform: translateY(40%);
      -o-transform: translateY(40%);
      -ms-transform: translateY(40%);
      transform: translateY(40%);
    }
    &:active {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -o-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}
