.changingHeader {
  height: 40vh;
}

a {
  color: $accent;
}

a:hover {
  color: black;
  text-decoration: none;
}

.market1 {
  height: 70vh;
  background-color: $purple;
  text-align: center;
}

.market2 {
  height: 70vh;
  background-color: white;
  text-align: center;
}

.market3 {
  background-color: $purple;
  text-align: center;
  height: 70vh;
}

#marketBoxes {
  padding-top: 135px;
}

.glyphicon {
  font-size: 169px;
  padding-top: 120px;
  text-align: center;
}

.quokka {
  // background: url("https://files.slack.com/files-pri/T024FPYBQ-F076GHNCV/quokka.png") no-repeat;
  img {
    float: left;
    width: 20%;
    // transform-origin: left;
    position: fixed;
    bottom: 0%;
    right: 3%;
    transform: translateY(90%);
    transition: all 1s ease-in-out;
    &:hover {
      -webkit-transform: translateY(40%);
      -moz-transform: translateY(40%);
      -o-transform: translateY(40%);
      -ms-transform: translateY(40%);
      transform: translateY(40%);
    }
    &:active {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -o-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}