<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <form id="signUpForm" name="signUpForm" ng-submit="signUpForm.$valid && sendSignUp(signUp)">

            <h3 id='newUserGreet'>Create an account to get in on the discussion!</h3>
            <div class="form-group">
                <label for="signUp-username">Username</label>
                <input type="text" ng-model="signUp.username" class="form-control" id="signUp-username" placeholder="Create a username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" ng-model="signUp.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="signUp-password">Password</label>
                <input type="password" ng-model="signUp.password" class="form-control" id="signUp-password" placeholder="Create a password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
