<div class ="question">
	<div class='children' ng-hide='checked'>
		<div class='comments'>
				<div class = "comment-content">
					<h4>{{comment.content}}</h4>
					<br>
					<small>Discussion started by {{comment.username}} at {{comment.commentTime | date: 'medium'}}</small>
				</div>
			<hr>
			<div ng-repeat='child in children' class="child-comments" popover="Click comment to see replies" popover-trigger="mouseenter" popover-placement="top">
				<div class='rating col-md-1'>
					<span class='glyphicon glyphicon-chevron-up' ng-click='upVote(child)'></span>
					<p>{{ child.rating }}</p>
					<span class='glyphicon glyphicon-chevron-down' ng-click='downVote(child)'></span>
				</div>
				<div class='col-md-11 child'>
					<p ng-click='getReplies(child); toggle()'>{{child.content}}</p>
					<!-- <p class='col-md-11 child' ng-click='getReplies(child)' slide-toggle="#derp">{{child.content}}</p> -->
					<!-- <div class="comment-content"> -->
						<br>
						<small class="text-muted">Posted by {{child.username}} at {{child.commentTime | date: 'medium'}} <span ng-show='isAdmin()' ng-click='deleteComment(child)'>| delete</span></small>
					<!-- </div> -->
					<hr>
				</div>
			</div>
		</div>
		<form ng-show='user' ng-submit="reply()">
			<textarea cols="50" type="text" class="form-control" placeholder="Write a comment..." ng-model='childComment.content'></textarea cols="50">
			<button>Add response</button>
		</form>
	</div>
</div>
	<!-- go back to children -->
	<button ng-hide='!checked' ng-click='toggle()'>&larr;</button>
<!-- show grandchildren -->
	<div class='grandchildren' ng-show='checked'>
	<!-- <div class='grandchildren' id='derp' class="slideable" ng-show='checked'> -->
		<p ng-repeat='kid in grandChildren'> {{kid.content}} <br>
			{{kid.username}} | {{kid.commentTime | date: 'short'}} <span ng-show='isAdmin()' ng-click='deleteComment(kid)'>| delete</span></p>
		<form ng-show='user' ng-submit='replyToReply()'>
			<input type="text" class="form-control" placeholder="add a reply" ng-model='grandChild.content'></input>
			<button>Add response</button>
		</form>
	</div>
</div>