.comment-container {
  height: 85vh;
  overflow: scroll;
  .row {
    width: 70%;
  }
}
.comment-content {
  position: relative;
  small {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.comments {
  // max-height: 300px;
  overflow: scroll;
  // .child {
  // 	border: 1px solid black;
  // }
}

.panel-collapse {
  max-height: 300px;
  overflow: scroll;
}

.children {
  textarea {
    width: 75%;
  }
}

.child-comments {
  small {
    float: right;
  }
}