.comment-container {
  height: 85vh;
  overflow: scroll;
}

.comments {
  max-height: 300px;
  overflow: scroll;
  // .child {
  // 	border: 1px solid black;
  // }
}

.panel-collapse {
  max-height: 300px;
  overflow: scroll;
}