navbar {

  img {
    float: left;
    height: 52px;
    margin-top: 13px;
    margin-left: -3px;
    transform: rotate(90deg);
    position:absolute;
    left:0;
  }
  span{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 1.7rem;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
  }

  .navbar-nav {
    float: right;
    height: 52px;
    margin-top: 30px;
    margin-right: 10px;
  }

  .nav-container {
    width: 90%;
    margin: 0 auto;

  }
  .welcome {
    display: flex;
    align-items: center;
  }

}