.row {
  margin: 0 auto;
}
.room {
  height: 85vh;
  overflow: hidden;
  width: 95%
}
.cards-cont {
  padding: 2% 5%;
}
.room-card {
  height: 200px;
  margin: 10px;
  padding: 1px 30px;
  background-color: #eee;
  cursor: pointer;
}