video-box {
  // position: fixed;
  // iframe {
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 60%;
  // }
  // position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  // height: 0;
  // position: fixed;
}


.videoWrapper iframe {
}

.playhead {
  width: calc(100% - .5px);
  height: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  margin-top: .5px;
  // justify-content: space-between;
  .active {
    background-color: #ccc;
  }
}



.playbits {
  // width: 1%;
  height: 10px;
  display: inline-block;
  position: relative;
  background-color: #C82B2B;
  flex-grow: 1;
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: #ccc;
  }
  span {
    display: none;
  }
}
.playbits:hover span {
  display:inline-block;
  vertical-align: middle;
  position: absolute;
  left: -7px;
  top: 20px;
  color: black;
  font-weight: bold;
  overflow:hidden;
}