video-box {
  // position: fixed;
  // iframe {
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 60%;
  // }
  // position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  // height: 0;
  // position: fixed;
}


.videoWrapper iframe {
}

.playhead {
  width: 100%;
  height: 10px;
  background-color: #000;
  border: 2px solid black;
  display: flex;
  align-items: center;
  margin-top: -10px;
  // justify-content: space-between;
  .active {
    background-color: #ccc;
  }
}



.playbits {
  // width: 1%;
  height: 10px;
  display: inline-block;
  position: relative;
  background-color: #C82B2B;
  flex-grow: 1;
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: #ccc;
  }
  span {
    display: none;
  }
}
.playbits:hover span {
  display:block;
  position: absolute;
  top: 54px;
  overflow:hidden;
}