video-box {
  overflow: auto;
}


.videoWrapper iframe {
}

.playhead {
  width: calc(100% - .5px);
  height: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  margin-top: .5px;
  .active {
    background-color: #000;
  }
}



.playbits {
  height: 10px;
  display: inline-block;
  position: relative;
  background-color: #C82B2B;
  flex-grow: 1;
  &:hover {
    background-color: #000;
  }
  &:active {
    background-color: #000;
  }
  span {
    display: none;
  }
}
.playbits:hover span {
  display:inline-block;
  vertical-align: middle;
  position: absolute;
  left: -7px;
  top: 20px;
  color: #000;
  font-weight: bold;
  overflow:hidden;
}