* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  font-family: 'raleway', sans-serif;
}

p {
	font-family: 'quicksand', sans-serif;
	font-weight: 100;
}

small {
	font-family: 'quicksand', sans-serif;
}


// Colors
$purple:rgba(187, 182, 205, 0.25);
$navbar: #A19EA5;
$bg: #fff;
$layer: #EAEAEA;
$accent: #8153E0;
span:focus, a:focus {
    // outline:0px !important;
    // -webkit-appearance:none;
    outline: none;
    border: 0;
}

body {
	font-family: 'quicksand', sans-serif;
  // background: $bg !important;
  font-family: 'Roboto';
}

.footerDiv {
 height: 10vh;
 background-color: #8153E0;
 padding-top: 20px;
 text-align: center;
 bottom: 0;
  .footerLinks > a {
  	color: white;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.btn-default{
	background-color: $accent !important;
	color: white !important;
}
//headline animation
// colors

$color-1: #aebcb9; // Tower Gray
$color-2: #0096a7; // Bondi Blue
$color-3: #0d0d0d; // Cod Gray

// fonts

//$primary-font: 'Roboto', sans-serif;
//^ headline animation



@import '../../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/_bourbon'; // http://bourbon.io/
@import 'home/mixins'; // custom mixins
@import 'home/layout'; // responsive grid and media queries
@import 'home/animate';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'rooms/main';
@import 'animate.min.css';
@import 'quincy/main';

